.container {
  width: 500px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.grid {
  box-sizing: border-box;

  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
